/* Style global */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

nav {
  background-color: #4CAF50;
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #FFD700;
}

/* Titre de sections */
h3 {
  margin-top: 2em;
  text-align: center;
  color: #4CAF50;
}

/* Image */
.container {
  margin: 100px 0 0 200px;
  width: 70%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.684);
  transition: all ease-in-out 0.5s;
}

.container img:hover {
  width: 25%;
}

/* Vidéo */
video {
  display: block;
  margin: 1em auto;
  border: 2px solid #4CAF50;
  border-radius: 10px;
}

.containner {
  margin: 100px 0 0 200px;
  width: 70%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.containner video{
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.684);
  transition: all ease-in-out 0.5s;
}

.containner video:hover {
  width: 25%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

footer a {
  color: #ffcc00;
}

footer a:hover {
  text-decoration: underline;
}
